@model User

<!-- Sidebar Start -->
<div class="sidebar pe-4 pb-3">
    <nav class="navbar bg-light navbar-light">
        <a href="index.html" class="navbar-brand mx-4 mb-3">
            <h3 class="text-primary"><i class="fa fa-hashtag me-2"></i>Admin</h3>
        </a>
        <div class="d-flex align-items-center ms-4 mb-4">
            <div class="position-relative">
                <img class="rounded-circle" src="/@Model.avatar" alt="" style="width: 40px; height: 40px;">
                <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
            </div>
            <div class="ms-3">
                <h6 class="mb-0">@Model.FirstName @Model.LastName</h6>
                <span>Admin</span>
            </div>
        </div>
        <div class="navbar-nav w-100">
            <a asp-action="Dashboard" asp-controller="AdminPanel" asp-area="Admin"
               class="nav-item nav-link @(ViewContext.RouteData.Values["action"].ToString() == "Dashboard" ? "active" : "")">
                <i class="fa fa-tachometer-alt me-2"></i>Dashboard
            </a>
            <a asp-action="Index" asp-controller="Category" asp-area="Admin"
               class="nav-item nav-link @(ViewContext.RouteData.Values["controller"].ToString() == "Category" ? "active" : "")">
                <i class="fa fa-list me-2"></i>Categories
            </a>
            <a asp-action="Index" asp-controller="Product" asp-area="Admin"
               class="nav-item nav-link @(ViewContext.RouteData.Values["controller"].ToString() == "Product" ? "active" : "")">
                <i class="fa fa-box me-2"></i>Products
            </a>
            <a asp-action="Index" asp-controller="User" asp-area="Admin"
               class="nav-item nav-link @(ViewContext.RouteData.Values["controller"].ToString() == "User" ? "active" : "")">
                <i class="fa fa-users me-2"></i>Users
            </a>
            <a asp-action="Index" asp-controller="Company" asp-area="Admin"
               class="nav-item nav-link @(ViewContext.RouteData.Values["controller"].ToString() == "Company" ? "active" : "")">
                <i class="fa fa-building me-2"></i>Companies
            </a>

            <!-- Manage Coupons -->
            <a asp-action="Index" asp-controller="Coupons" asp-area="Admin"
               class="nav-item nav-link @(ViewContext.RouteData.Values["controller"].ToString() == "Coupons" ? "active" : "")">
                <i class="fa fa-ticket-alt me-2"></i>Coupons
            </a>

            <!-- Manage Orders -->
            <a asp-action="Index" asp-controller="Order" asp-area="Admin"
               class="nav-item nav-link @(ViewContext.RouteData.Values["controller"].ToString() == "Order" ? "active" : "")">
                <i class="fa fa-shopping-cart me-2"></i>Orders
            </a>
        </div>
    </nav>
</div>
<!-- Sidebar End -->
