@using ClickMart.ViewModels.product
@model ProductDeatailsViewModel
@{
    ViewData["Title"] = "Product Details";
}


@section headingSection {
    <!-- Heading -->
    <div class="bg-primary">
        <div class="container py-4">
            <!-- Breadcrumb -->
            <nav class="d-flex">
                <h6 class="mb-0">
                    <a asp-action="Index" asp-controller="Home" class="text-white-50">Home</a>
                    <span class="text-white-50 mx-2"> > </span>
                    <a href="" class="text-white-50">@Model?.product.Category?.Name</a>
                    <span class="text-white-50 mx-2"> > </span>
                    <a href="" class="text-white"><u>@Model?.product.Title</u></a>
                </h6>
            </nav>
            <!-- Breadcrumb -->
        </div>
    </div>
    <!-- Heading -->
}
@Html.AntiForgeryToken()
<!-- content -->
<section class="py-5">
    <div class="container">
        <div class="row gx-5">
            <aside class="col-lg-6">
                <div class="border rounded-4 mb-3 d-flex justify-content-center">
                    <a data-fslightbox="mygalley" class="rounded-4" target="_blank" data-type="image" href="~/@Model.product.Thumbnail">
                        <img style="max-width: 100%; max-height: 100vh; margin: auto;" class="rounded-4 fit" src="~/@Model.product.Thumbnail" />
                    </a>
                </div>
                <div class="d-flex justify-content-center mb-3">
                    @foreach(var photo in Model.product.Galleries)
                    {
                        <a data-fslightbox="mygalley" class="border mx-1 rounded-2" target="_blank" data-type="image" href="/@photo.ImagePath" class="item-thumb">
                            <img width="60" height="60" class="rounded-2" src="/@photo.ImagePath" />
                        </a>
                    }
                   
                </div>
                <!-- thumbs-wrap.// -->
                <!-- gallery-wrap .end// -->
            </aside>
            <main class="col-lg-6">
                <div class="ps-lg-3">
                    <h4 class="title text-dark">
                        @Model.product.Title
                    </h4>
                    <div class="d-flex flex-row my-3">
                        <div class="text-warning mb-1 me-2">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                            <span class="ms-1">
                                4.5
                            </span>
                        </div>
                        <span class="text-muted"><i class="fas fa-shopping-basket fa-sm mx-1"></i>@Model.product.Quantity orders</span>
                        <span class="text-success ms-2">In stock</span>
                    </div>

                    <div class="mb-3">
                        <span class="h5">@Model.product.Price.ToString("C")</span>
                        <span class="text-muted">/per item</span>
                    </div>

                    <p>
                        @Html.Raw(@Model.product.ShortDescription)
                    </p>

                    <div class="row">
                        @foreach (var Attribute in Model.product.Attributes)
                        {
                            <dt class="col-3">@Attribute.AttributeName:</dt>
                            <dd class="col-9">@Attribute.AttributeValue</dd>
                        }
                    </div>

                    <hr />

                    <div class="row mb-4">
                        <div class="col-md-4 col-6 mb-3">
                            <label class="mb-2 d-block">Quantity</label>
                            <div class="input-group mb-3" style="width: 170px;">
                                <button class="btn btn-white border border-secondary px-3" type="button" id="button-minus" data-mdb-ripple-color="dark">
                                    <i class="fas fa-minus"></i>
                                </button>
                                <input type="text" id="quantityInput" name="Quantity" class="form-control text-center border border-secondary" value="1" aria-label="Quantity" aria-describedby="button-minus button-plus" />
                                <button class="btn btn-white border border-secondary px-3" type="button" id="button-plus" data-mdb-ripple-color="dark">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary shadow-0" onclick="addToCart('@Url.Action("AddToCart", "Product", new { area = "Customer" })')">
                        <i class="me-1 fa fa-shopping-basket"></i> Add to cart
                    </button>
                    <input type="hidden" id="AddToCartProductIdInput" value="@Model.product.Id">

                    <!-- Form for Buy Now -->
                    <form method="post" action="/your-buy-now-endpoint" class="d-inline">
                        <input type="hidden" name="Quantity" value="1" id="buyNowQuantityInput">
                        <button type="submit" class="btn btn-warning shadow-0">
                            Buy now
                        </button>
                    </form>

                    <!-- Form for Save -->
                    <form method="post" action="/your-save-endpoint" class="d-inline">
                        <button type="submit" class="btn btn-light border border-secondary py-2 icon-hover px-3">
                            <i class="me-1 fa fa-heart fa-lg"></i> Save
                        </button>
                    </form>
                </div>
            </main>
        </div>
    </div>
</section>
<!-- content -->

<section class="bg-light border-top py-4">
    <div class="container">
        <div class="row gx-4">
            <div class="col-lg-8 mb-4">
                <div class="border rounded-2 px-3 py-2 bg-white">
                    <!-- Pills navs -->
                    @*  <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
                    <li class="nav-item d-flex" role="presentation">
                    <a class="nav-link d-flex align-items-center justify-content-center w-100 active" id="ex1-tab-1" data-mdb-toggle="pill" href="#ex1-pills-1" role="tab" aria-controls="ex1-pills-1" aria-selected="true">Specification</a>
                    </li>
                    <li class="nav-item d-flex" role="presentation">
                    <a class="nav-link d-flex align-items-center justify-content-center w-100" id="ex1-tab-2" data-mdb-toggle="pill" href="#ex1-pills-2" role="tab" aria-controls="ex1-pills-2" aria-selected="false">Warranty info</a>
                    </li>
                    <li class="nav-item d-flex" role="presentation">
                    <a class="nav-link d-flex align-items-center justify-content-center w-100" id="ex1-tab-3" data-mdb-toggle="pill" href="#ex1-pills-3" role="tab" aria-controls="ex1-pills-3" aria-selected="false">Shipping info</a>
                    </li>
                    <li class="nav-item d-flex" role="presentation">
                    <a class="nav-link d-flex align-items-center justify-content-center w-100" id="ex1-tab-4" data-mdb-toggle="pill" href="#ex1-pills-4" role="tab" aria-controls="ex1-pills-4" aria-selected="false">Seller profile</a>
                    </li>
                    </ul> *@
                    <!-- Pills navs -->
                    <!-- Pills content -->
                    <div class="tab-content" id="ex1-content">
                        <div class="tab-pane fade show active" id="ex1-pills-1" role="tabpanel" aria-labelledby="ex1-tab-1">

                            @Html.Raw(Model.product.Description)
                            <table class="table border mt-3 mb-2">
                                @foreach (var Attribute in Model.product.Attributes)
                                {
                                    <tr>
                                        <th class="py-2">@Attribute.AttributeName:</th>
                                        <td class="py-2">@Attribute.AttributeValue</td>
                                    </tr>
                                }


                            </table>
                        </div>
                        @* <div class="tab-pane fade mb-2" id="ex1-pills-2" role="tabpanel" aria-labelledby="ex1-tab-2">
                        Tab content or sample information now <br />
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                        officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                        nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        </div>
                        <div class="tab-pane fade mb-2" id="ex1-pills-3" role="tabpanel" aria-labelledby="ex1-tab-3">
                        Another tab content or sample information now <br />
                        Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                        mollit anim id est laborum.
                        </div>
                        <div class="tab-pane fade mb-2" id="ex1-pills-4" role="tabpanel" aria-labelledby="ex1-tab-4">
                        Some other tab content or sample information now <br />
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                        officia deserunt mollit anim id est laborum.
                        </div> *@
                    </div>
                    <!-- Pills content -->
                </div>
            </div>
            <div class="col-lg-4">
                <div class="px-0 border rounded-2 shadow-0">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Similar items</h5>
                            @foreach (var product in Model.SameCategoryProducts)
                            {
                                <div class="d-flex mb-3">
                                    <a asp-action="Details" asp-route-Id="@product.Id" class="me-3">
                                        <img src="~/@product.Thumbnail" style="min-width: 96px; height: 96px;" class="img-md img-thumbnail" />
                                    </a>
                                    <div class="info">
                                        <a asp-action="Details" asp-route-Id="@product.Id" class="nav-link mb-1">
                                            @product.Title
                                        </a>
                                        <strong class="text-dark"> @product.Price.ToString("C")</strong>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ezy__epreview2 bg-light border-top py-4" id="ezy__epreview2">
    <div class="container">
        <div class="row justify-content-start">
            <div class="col-12 col-lg-10 col-xl-8">
                <div class="card ezy__epreview2-card mb-3">
                    <div class="card-body p-md-4">
                        <div class="d-flex justify-content-between">
                            <h2 class="fs-4">Customer Review</h2>
                            <div>
                                <button id="newCommentBtn" class="btn ezy__epreview2-btn-outline py-1 px-md-4">New Comment</button>
                            </div>
                        </div>
                        <hr class="ezy__epreview2-hr my-3" />
                        <div id="reviewForm" class="d-none">
                            <form asp-action="Create" asp-controller="Review" asp-area="Customer">
                                <input type="text" name="ProductId" value="@Model.product.Id" hidden />
                                <div class="mb-3">
                                    <label for="rating" class="form-label">Rating</label>
                                    <select id="rating" name="Stars" class="form-select" required>
                                        <option value="5">5 - Excellent</option>
                                        <option value="4">4 - Good</option>
                                        <option value="3">3 - Average</option>
                                        <option value="2">2 - Poor</option>
                                        <option value="1">1 - Terrible</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="Title" class="form-label">Title</label>
                                    <input type="text" id="Title" name="Title" class="form-control" required />
                                </div>
                                <div class="mb-3">
                                    <label for="Description" class="form-label">Your Review</label>
                                    <textarea id="Description" name="Description" rows="4" class="form-control" required></textarea>
                                </div>
                                <div class="d-flex justify-content-end">
                                    <button type="submit" class="btn btn-primary">Submit Review</button>
                                </div>
                            </form>
                            <hr class="ezy__epreview2-hr my-3" />
                        </div>
                        @foreach (var review in Model.reviews)
                        {
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="d-flex mb-4">
                                        <div class="ezy__epreview2-profile rounded-circle me-2 overflow-hidden">
                                            <img src="/@review.User?.avatar" alt="" class="img-fluid" />
                                        </div>
                                        <div>
                                            <h5 class="fs-6 mb-1 mt-1">@review.User?.FirstName @review.User?.LastName</h5>
                                            <p class="ezy__epreview2-content fw-light mb-3">
                                                <span class="ezy__epreview2-rating">
                                                    @for (int i = 0; i < review.Stars; i++)
                                                    {
                                                        <i class="fas fa-star"></i>
                                                    }
                                                </span>
                                                <span class="mx-1">@review.Stars</span>
                                            </p>
                                            <p class="ezy__epreview2-content opacity-50 mb-0">Comment At</p>
                                            <p class="fw-bold mb-0">@(review.CreatedAt?.ToString("MMMM dd, yyyy") ?? "Date is null")</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8">
                                    <p class="ezy__epreview2-content opacity-75 mb-4">
                                        @review.Description
                                    </p>
                                    <div class="d-flex justify-content-end">
                                        <button class="btn ezy__epreview2-btn-text py-0 d-inline-flex justify-content-center align-items-center text-decoration-none me-4">
                                            <i class="far fa-thumbs-up fs-6 me-2"></i> Like (20)
                                        </button>
                                        <button class="btn ezy__epreview2-btn-text py-0 d-inline-flex justify-content-center align-items-center text-decoration-none">
                                            <i class="far fa-thumbs-down fs-6 me-2"></i> Dislike (6)
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <hr class="ezy__epreview2-hr my-3" />
                        }



                    </div>

                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>
</section>

<partial name="_FooterPrimaryColorPartial" />
@section Scripts {
    <script src="~/js/product/Quantity.js"></script>
    <script>
        document.getElementById('newCommentBtn').addEventListener('click', function () {
            const reviewForm = document.getElementById('reviewForm');
            reviewForm.classList.toggle('d-none');
        });

        function SetQuantityValue() {
            let input = document.getElementById("quantityInput").value;
            document.getElementById("AddToCartQuantityInput").value = input;
        }

        function addToCart(url) {
            var quantity = $('#quantityInput').val();
            var productId = $('#AddToCartProductIdInput').val();
            var token = $('input[name="__RequestVerificationToken"]').val();

            $.ajax({
                url: url,
                type: "POST",
                headers: {
                    "RequestVerificationToken": token
                },
                data: {
                    cart: {
                        Quantity: quantity,
                        ProductId: productId
                    }
                },
                success: function (data) {
                    if (data.success) {
                        toastr.success(data.message);
                    } else {
                        toastr.error(data.message);
                    }
                },
                error: function (err) {
                    toastr.error("An error occurred while trying to add the product to the cart.");
                }
            });
        }
    </script>
}