@model ProductSearchViewModel
@{
    ViewData["Title"] = "Search";
}




@section headingSection {
    <!-- Heading -->
    <div class="bg-primary">
        <div class="container py-4">
            <!-- Breadcrumb -->
            <nav class="d-flex">
                <h6 class="mb-0">
                    <a asp-action="Index" asp-controller="Home" class="text-white-50">Home</a>
                    <span class="text-white-50 mx-2"> > </span>
                    <a href="" class="text-white-50">serach</a>
                    <span class="text-white-50 mx-2"> > </span>
                    <a href="" class="text-white"><u>any</u></a>
                </h6>
            </nav>
            <!-- Breadcrumb -->
        </div>
    </div>
    <!-- Heading -->
}

<!-- sidebar + content -->
<section class="mt-3">
    <div class="container">
        <div class="row">
            <!-- sidebar -->
            <div class="col-lg-3">
                <!-- Toggle button -->
                <button class="btn btn-outline-secondary mb-3 w-100 d-lg-none"
                        type="button"
                        data-mdb-toggle="collapse"
                        data-mdb-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span>Show filter</span>
                </button>
                <!-- Collapsible wrapper -->
                <div class="collapse card d-lg-block mb-5" id="navbarSupportedContent">
                    <div class="accordion" id="accordionPanelsStayOpenExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button text-dark bg-light"
                                        type="button"
                                        data-mdb-toggle="collapse"
                                        data-mdb-target="#panelsStayOpen-collapseTwo"
                                        aria-expanded="true"
                                        aria-controls="panelsStayOpen-collapseTwo">
                                    Categories
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo">
                                    <div class="accordion-body">
                                        <div>
                                            <!-- Categories with Checkboxes -->
                                            @foreach (var category in Model.categories)
                                            {
                                                <div class="form-check">
                                                    <input class="form-check-input category-checkbox" type="checkbox" id="category-@category.Id" value="@category.Id"
                                                    @(Model.SelectedCategories.Contains(category.Id) ? "checked" : "") />
                                                    <label class="form-check-label" for="category-@category.Id">@category.Name</label>
                                                </div>
                                            }
                                        </div>
                                    </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button text-dark bg-light"
                                        type="button"
                                        data-mdb-toggle="collapse"
                                        data-mdb-target="#panelsStayOpen-collapseFive"
                                        aria-expanded="false"
                                        aria-controls="panelsStayOpen-collapseFive">
                                    Ratings
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse show" aria-labelledby="headingThree">
                                <div class="accordion-body">
                                    <!-- Default checkbox -->
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked />
                                        <label class="form-check-label" for="flexCheckDefault">
                                            <i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i>
                                            <i class="fas fa-star text-warning"></i>
                                        </label>
                                    </div>
                                    <!-- Default checkbox -->
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked />
                                        <label class="form-check-label" for="flexCheckDefault">
                                            <i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i>
                                            <i class="fas fa-star text-secondary"></i>
                                        </label>
                                    </div>
                                    <!-- Default checkbox -->
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked />
                                        <label class="form-check-label" for="flexCheckDefault">
                                            <i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-secondary"></i>
                                            <i class="fas fa-star text-secondary"></i>
                                        </label>
                                    </div>
                                    <!-- Default checkbox -->
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked />
                                        <label class="form-check-label" for="flexCheckDefault">
                                            <i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-secondary"></i><i class="fas fa-star text-secondary"></i>
                                            <i class="fas fa-star text-secondary"></i>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- sidebar -->
            <!-- content -->
            <div class="col-lg-9">
                <header class="d-sm-flex align-items-center border-bottom mb-4 pb-3">
                    <strong class="d-block py-2">@Model.TotalProducts Items found </strong>
                    <div class="ms-auto">
                        <select class="form-select d-inline-block w-auto border pt-1">
                            <option value="0">Best match</option>
                            <option value="1">Recommended</option>
                            <option value="2">High rated</option>
                            <option value="3">Randomly</option>
                        </select>
                        <div class="btn-group shadow-0 border">
                            <a href="#" class="btn btn-light" title="List view">
                                <i class="fa fa-bars fa-lg"></i>
                            </a>
                            <a href="#" class="btn btn-light active" title="Grid view">
                                <i class="fa fa-th fa-lg"></i>
                            </a>
                        </div>
                    </div>
                </header>
                @foreach(var product in Model.products)
                {
                    <div class="row justify-content-center mb-3">
                        <div class="col-md-12">
                            <div class="card shadow-0 border rounded-3">
                                <div class="card-body">
                                    <div class="row g-0">
                                        <div class="col-xl-3 col-md-4 d-flex justify-content-center">
                                            <div class="bg-image hover-zoom ripple rounded ripple-surface me-md-3 mb-3 mb-md-0">
                                                <a asp-action="Details" asp-area="Customer" asp-controller="Product" asp-route-Id="@product.Id">
                                                <img src="/@product.ImageUrl" class="w-100" />
                                                    <div class="hover-overlay">
                                                        <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-md-5 col-sm-7">
                                            <a asp-action="Details" asp-area="Customer" asp-controller="Product" asp-route-Id="@product.Id">
                                            <h5>@product.Title</h5>
                                            </a>
                                            <div class="d-flex flex-row">
                                                <div class="text-warning mb-1 me-2">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fas fa-star-half-alt"></i>
                                                    <span class="ms-1">
                                                        4.5
                                                    </span>
                                                </div>
                                                <span class="text-muted">154 orders</span>
                                            </div>

                                            <p class="text mb-4 mb-md-0">
                                                @Html.Raw(product.ShortDescription)
                                            </p>
                                        </div>
                                        <div class="col-xl-3 col-md-3 col-sm-5">
                                            <div class="d-flex flex-row align-items-center mb-1">
                                                <h4 class="mb-1 me-1">@product.Price.ToString("C")</h4>
                                                @* <span class="text-danger"><s>$49.99</s></span> *@
                                            </div>
                                            <h6 class="text-success">Free shipping</h6>
                                            <div class="mt-4">
                                                <button class="btn btn-primary shadow-0" type="button">Buy this</button>
                                                <a href="#!" class="btn btn-light border px-2 pt-2 icon-hover"><i class="fas fa-heart fa-lg px-1"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <hr />

                <!-- Pagination -->
                <nav aria-label="Page navigation example" class="d-flex justify-content-center mt-3">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="/Customer/Product/Search?s=@Model.SerachString&page=@(Model.CurrentPage-1)" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="/Customer/Product/Search?s=@Model.SerachString&page=1">1</a></li>
                        @for(int i = 2; i <= @Model.NumberOfPages; i++)
                        {
                            <li class="page-item"><a class="page-link" href="/Customer/Product/Search?s=@Model.SerachString&page=@i">@i</a></li>
                        }
                        <li class="page-item">
                            <a class="page-link" href="/Customer/Product/Search?s=@Model.SerachString&page=@(Model.CurrentPage+1)" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- Pagination -->
            </div>
        </div>
    </div>
</section>



<partial name="_FooterPrimaryColorPartial" />

@section Scripts{
    <script>
        if (window.location.search) {
            const urlParams = new URLSearchParams(window.location.search);
            const searchValue = urlParams.get('page');

            const pageItems = document.querySelectorAll(".page-item"); 
            let length = pageItems.length;

            for (let i = 0; i < length; i++) { 
                let textValue = pageItems[i].textContent.trim(); 

                if (Number(searchValue) === Number(textValue)) { 
                    pageItems[i].classList.add("active");
                    break; 
                }
            }
        }

        function updateUrlAndSubmitForm() {
            let selectedCategories = [];

          
            document.querySelectorAll(".category-checkbox:checked").forEach(function (checkbox) {
                selectedCategories.push(checkbox.value);
            });

            
            let categoryIds = selectedCategories.join(',');

           
            const urlParams = new URLSearchParams(window.location.search);
            const searchValue = urlParams.get('s') || '';

            let newUrl = `/Customer/Product/Search?categoryIds=${categoryIds}&s=${searchValue}`;
            window.location.href = newUrl;
        }

        
        document.querySelectorAll(".category-checkbox").forEach(function (checkbox) {
            checkbox.addEventListener('change', function () {
                updateUrlAndSubmitForm(); 
            });
        });
    </script>
}
