@model List<Category>

@{
    ViewData["Title"] = "Manage Categories";
}

<div class="container">
    <div class="content m-auto mt-5" style="width: 80%;">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h2 class="mb-0">Categories</h2>
            <a class="btn btn-primary rounded-pill d-flex align-items-center" href="@Url.Action("Create")">
                <i class="bi bi-plus-circle me-2"></i> Create New Category
            </a>
        </div>
        <div class="table-responsive">
            <table class="table table-hover align-middle text-center">
                <thead class="table-light">
                    <tr>
                        <th scope="col">Category Name</th>
                        <th scope="col">Display Order</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.DisplayOrder</td>
                            <td>
                                <a class="btn btn-info me-2" href="@Url.Action("Edit",new { Id = item.Id })">
                                    <i class="bi bi-pencil-square"></i> Edit
                                </a>
                                <form asp-action="Delete" asp-controller="Category" asp-route-Id="@item.Id" method="post" class="d-inline">
                                    <button type="submit" class="btn btn-danger">
                                        <i class="bi bi-trash"></i> Delete
                                    </button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
